@import "common/foundation/variables";
@import "common/foundation/mixins";
/*
.badge-category,
.badge-category-parent {
  i.fa {
    line-height: 0; 
    
    &.fa-caret-right,
    &.fa-caret-down {
      font-size: 18px;
      vertical-align: -2px;
    }

    
    &.fa-group {
      font-size: 14px;
      vertical-align: -1px;

      &:before {
        content: $fa-var-eye-slash;
      }
    }
  }
}

.badge-category-parent {
  display: none !important;
}

.badge-category {
  @include border-radius-all($border-radius-default-SP);
  min-width: 80px;
  text-align: center;
}

.badge-notification {
  &.new-posts, &.unread-posts, &.unread, &.unread-private-messages {
    background-color: $red-SP;
    border-color: $red-SP;
    color: white !important;
  }
}
*/
