@import "common/foundation/variables";
@import "common/foundation/mixins";

.top-crawler-links {
  display: none;
}

.d-header {
  .container {
    margin-left: 10px;
    margin-right: 10px;
    max-width: none;
    width: auto;
  }

  .logomark {
    float: left;
    margin-top: 11px;
    margin-right: 10px;
  }

  .current-username a {
    color: #fff;
    margin-top: 12px;
  }

  .icons {
    .icon {
      color: $gray-light-SP;
      border: 1px solid transparent; 
      transition: background-color 167ms ease-out; 

      &:hover {
        background-color: transparent;
        border: 1px solid transparent; 
        color: #fff;
      }

      &:active {
        color: #fff;
      }
    }

    .active .icon { 
      border: 1px solid #fff; 

      &:hover {
        border: 1px solid #fff; 
        color: $gray-sitepoint-header-bg-SP;
        background-color: #fff;
      }

      &:active {
        color: #000;
      }
    }
  }
}

.d-dropdown {
  border-top-color: #fff;

  .user-dropdown-links .badge-notification {
    margin-right: 5px; 
  }


  .category {
    margin-left: 0;
    margin-right: 0;
    width: 50%;

    .badge-category {
      min-width: 0;
      text-align: left;
    }
  }
}
